{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-light" role="alert">
                <b>{{ title }}</b>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}