{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <b>Success!</b><br>
    <a>Confirm your email to complete your registration.</a>
    <br><a>Already confirmed?   </a><a href="{{ path('app_login') }}">Login</a>
{% endblock %}