{% extends 'base.html.twig' %}

{% block title %}Confirmed{% endblock %}

{% block body %}
    <h1>Confirmed!</h1>
    <a href="{{ path('app_login') }}">Login</a><br>
    <b>User Id: </b>{{ user.getId() }}<br>
    <b>User Name: </b>{{ user.getUsername() }}<br>
    <b>Token: </b>{{ confirmToken }}<br>
{% endblock %}
