{% extends 'base.html.twig' %}

{% block title %}Confirmed{% endblock %}

{% block body %}
    <h1>Confirmed!</h1>
    <a href="{{ path('app_login') }}" class="btn btn-secondary" role="button">Login</a><br>
    <b>User Name: </b>{{ user.getUsername() }}<br>
{% endblock %}
