{% extends 'base.html.twig' %}

{% block title %}Confirmed{% endblock %}

{% block body %}
    <h1>Confirmed!</h1>
    <a href="/login/">Login</a>
    <b>User Id: </b>{{ userId }}<br>
    <b>User Name: </b>{{ userName }}<br>
    <b>Token: </b>{{ confirmToken }}<br>
{% endblock %}
