{% extends 'base.html.twig' %}

{% block title %}Expired{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Too late! Confirmation time expired.</h1>
        </div>
    </div>
{% endblock %}