{% extends 'base.html.twig' %}

{% block title %}Snippets{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <b>Total Snippets: ({{ pagination.getTotalItemCount }})</b>
            <a href="{{ path('app_snippets_add') }}">Add new snippet</a>
            <table class="table table-striped">
                <tbody>
                {% for snippet in pagination %}
                    {% include 'snippets/item.html.twig' with {'snippet': snippet}%}
                    <a href="{{ path('app_snippets_detail', {'urlCode': snippet.urlCode}) }}">link</a><br>
                {% endfor %}
                </tbody>
            </table>
                
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}