<div class="row">
    <div class="col-6 offset-3">
        <ul class="list-group">
            {% for snippet in snippets %}
                <li class="list-group-item">
                    {% include 'snippets/item.html.twig' with {'snippet':snippet} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>